serverless.yml
# Welcome to Serverless!
#
# This file is the main config file for your service.
# It's very minimal at this point and uses default values.
# You can always add more config options for more control.
# We've included some commented out config examples here.
# Just uncomment any of them to get that config option.
#
# For full config options, check the docs:
#    docs.serverless.com
#
# Happy Coding!

service: profox

# You can pin your service to only deploy with a specific Serverless version
# Check out our docs for more details
# frameworkVersion: "=X.X.X"

provider:
  name: aws
  region: eu-central-1
  runtime: nodejs6.10
  stage: ${opt:stage, self:custom.defaultStage}
  profile: ${self:custom.profiles.${self:provider.stage}}
  iamRoleStatements:
    - Effect: "Allow"
      Action:
        - dynamodb:GetItem
        - dynamodb:BatchGetItem
        - dynamodb:Query
        - dynamodb:Scan
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - dynamodb:DeleteItem
        - dynamodb:BatchWriteItem
      Resource: "arn:aws:dynamodb:${self:provider.region}:${self:custom.accountId}:table/hello"

custom:
  defaultStage: dev
  profiles:
    dev: kaixo
    prod: kaixo
  accountId: your account id
  domainName: your domain name

plugins:
  - serverless-step-functions
  - serverless-plugin-include-dependencies

package:
  include:
    - src/handler/**
  exclude:
    - node_modules/**

functions:
  hello:
    handler: src/handler/hello.handler
  hello2db:
    handler: src/handler/hello2db.handler
  getHello:
    handler: src/handler/getHelloFromDb.handler
    events:
      - http:
          path: hello/{requestId}
          method: GET
  getAllHello:
    handler: src/handler/getAllHelloFromDb.handler
    events:
      - http:
          path: hello
          method: GET

stepFunctions:
  stateMachines:
    hello:
      events:
        - http:
            path: hello
            method: POST
      definition:
        StartAt: HelloWorld
        States:
          HelloWorld:
            Type: Task
            Resource: arn:aws:lambda:${self:provider.region}:${self:custom.accountId}:function:${self:service}-${self:provider.stage}-hello
            ResultPath: $.msg
            Catch:
              - ErrorEquals: ["States.TaskFailed"]
                ResultPath: $.error-info
                Next: fallback
            Next: Hello2Db
          Hello2Db:
            Type: Task
            Resource: arn:aws:lambda:${self:provider.region}:${self:custom.accountId}:function:${self:service}-${self:provider.stage}-hello2db
            ResultPath: $.success
            End: true
          fallback:
            Type: Pass
            Result: "Hello, Fallback."
            End: true

resources:
  Resources:
    HelloDynamoDbTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: hello
        AttributeDefinitions:
          - AttributeName: requestId
            AttributeType: S
        KeySchema:
          - AttributeName: requestId
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 5
          WriteCapacityUnits: 5
    ProfoxAPICustomDomainMapping:
      Type: AWS::ApiGateway::BasePathMapping
      Properties:
        BasePath: profox-${self:provider.stage}
        DomainName: ${self:custom.domainName}
        RestApiId:
          Ref: ApiGatewayRestApi
        Stage: ${self:provider.stage}
